<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organisation %><br>
    <%= f.text_field :organisation %>
  </div>
  <div class="field">
    <%= f.label :registration_number %><br>
    <%= f.text_field :registration_number %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :expiry %><br>
    <%= f.date_select :expiry %>
  </div>
  <div class="field">
    <%= f.label :first_granted %><br>
    <%= f.date_select :first_granted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
