<p id="notice"><%= notice %></p>

<p>
  <strong>Organisation:</strong>
  <%= @registration.organisation %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @registration.registration_number %>
</p>

<p>
  <strong>State:</strong>
  <%= @registration.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @registration.country %>
</p>

<p>
  <strong>Expiry:</strong>
  <%= @registration.expiry %>
</p>

<p>
  <strong>First granted:</strong>
  <%= @registration.first_granted %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
