<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @employee.login %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee.position %>
</p>

<p>
  <strong>Skills update link:</strong>
  <%= @employee.skills_update_link %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
