<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @personal_award.name %>
</p>

<p>
  <strong>Awarding body:</strong>
  <%= @personal_award.awarding_body %>
</p>

<p>
  <strong>Description:</strong>
  <%= @personal_award.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @personal_award.url %>
</p>

<%= link_to 'Edit', edit_personal_award_path(@personal_award) %> |
<%= link_to 'Back', personal_awards_path %>
