<h1>Listing footprint_areas</h1>

<table>
  <thead>
    <tr>
      <th>Measurement</th>
      <th>Standard name</th>
      <th>Standard version</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @footprint_areas.each do |footprint_area| %>
      <tr>
        <td><%= footprint_area.measurement %></td>
        <td><%= footprint_area.standard_name %></td>
        <td><%= footprint_area.standard_version %></td>
        <td><%= link_to 'Show', footprint_area %></td>
        <td><%= link_to 'Edit', edit_footprint_area_path(footprint_area) %></td>
        <td><%= link_to 'Destroy', footprint_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Footprint area', new_footprint_area_path %>
