<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @other_date.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @other_date.description %>
</p>

<%= link_to 'Edit', edit_other_date_path(@other_date) %> |
<%= link_to 'Back', other_dates_path %>
