<h1>Listing photographies</h1>

<table>
  <thead>
    <tr>
      <th>Photographer</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photographies.each do |photography| %>
      <tr>
        <td><%= photography.photographer %></td>
        <td><%= photography.date %></td>
        <td><%= link_to 'Show', photography %></td>
        <td><%= link_to 'Edit', edit_photography_path(photography) %></td>
        <td><%= link_to 'Destroy', photography, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photography', new_photography_path %>
