<p id="notice"><%= notice %></p>

<p>
  <strong>Photographer:</strong>
  <%= @photography.photographer %>
</p>

<p>
  <strong>Date:</strong>
  <%= @photography.date %>
</p>

<%= link_to 'Edit', edit_photography_path(@photography) %> |
<%= link_to 'Back', photographies_path %>
