<%= form_for(@professional_contribution) do |f| %>
  <% if @professional_contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professional_contribution.errors.count, "error") %> prohibited this professional_contribution from being saved:</h2>

      <ul>
      <% @professional_contribution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity %><br>
    <%= f.text_field :activity %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
