<h1>Listing budgets</h1>

<table>
  <thead>
    <tr>
      <th>Initial phase value total</th>
      <th>Final phase value total</th>
      <th>Initial phase fee total</th>
      <th>Final phase fee total</th>
      <th>Construction initial</th>
      <th>Construction final</th>
      <th>Comments</th>
      <th>Fee type</th>
      <th>Dirty budget</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.initial_phase_value_total %></td>
        <td><%= budget.final_phase_value_total %></td>
        <td><%= budget.initial_phase_fee_total %></td>
        <td><%= budget.final_phase_fee_total %></td>
        <td><%= budget.construction_initial %></td>
        <td><%= budget.construction_final %></td>
        <td><%= budget.comments %></td>
        <td><%= budget.fee_type %></td>
        <td><%= budget.dirty_budget %></td>
        <td><%= link_to 'Show', budget %></td>
        <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
        <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget', new_budget_path %>
