<h1>Listing dietaries</h1>

<table>
  <thead>
    <tr>
      <th>Requirements</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dietaries.each do |dietary| %>
      <tr>
        <td><%= dietary.requirements %></td>
        <td><%= link_to 'Show', dietary %></td>
        <td><%= link_to 'Edit', edit_dietary_path(dietary) %></td>
        <td><%= link_to 'Destroy', dietary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dietary', new_dietary_path %>
