<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @qualification.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @qualification.level %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @qualification.institution %>
</p>

<p>
  <strong>First year:</strong>
  <%= @qualification.first_year %>
</p>

<p>
  <strong>Last year:</strong>
  <%= @qualification.last_year %>
</p>

<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<%= link_to 'Back', qualifications_path %>
