<h1>Listing heights</h1>

<table>
  <thead>
    <tr>
      <th>Measurement</th>
      <th>Standard name</th>
      <th>Standard version</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @heights.each do |height| %>
      <tr>
        <td><%= height.measurement %></td>
        <td><%= height.standard_name %></td>
        <td><%= height.standard_version %></td>
        <td><%= link_to 'Show', height %></td>
        <td><%= link_to 'Edit', edit_height_path(height) %></td>
        <td><%= link_to 'Destroy', height, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Height', new_height_path %>
