<p id="notice"><%= notice %></p>

<p>
  <strong>Measurement:</strong>
  <%= @height.measurement %>
</p>

<p>
  <strong>Standard name:</strong>
  <%= @height.standard_name %>
</p>

<p>
  <strong>Standard version:</strong>
  <%= @height.standard_version %>
</p>

<%= link_to 'Edit', edit_height_path(@height) %> |
<%= link_to 'Back', heights_path %>
