<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @condition.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @condition.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @condition.end_date %>
</p>

<%= link_to 'Edit', edit_condition_path(@condition) %> |
<%= link_to 'Back', conditions_path %>
