<h1>Listing buildings</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Attribution</th>
      <th>Bca classification</th>
      <th>Project catagories</th>
      <th>Project sub-catagories</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.description %></td>
        <td><%= building.attribution %></td>
        <td><%= building.BCA_classification %></td>
        <td><%= building.project_catagories %></td>
        <td><%= building.project_sub-catagories %></td>
        <td><%= link_to 'Show', building %></td>
        <td><%= link_to 'Edit', edit_building_path(building) %></td>
        <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Building', new_building_path %>
