<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @building.description %>
</p>

<p>
  <strong>Attribution:</strong>
  <%= @building.attribution %>
</p>

<p>
  <strong>Bca classification:</strong>
  <%= @building.BCA_classification %>
</p>

<p>
  <strong>Project categories:</strong>
  <%= @building.project_categories %>
</p>

<p>
  <strong>Project sub catagories:</strong>
  <%= @building.project_sub_catagories %>
</p>

<p>
  <strong>Source information filepath:</strong>
  <%= @building.source_information_filepath %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
