<%= form_for(@employee_contact) do |f| %>
  <% if @employee_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_contact.errors.count, "error") %> prohibited this employee_contact from being saved:</h2>

      <ul>
      <% @employee_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :extension %><br>
    <%= f.text_field :extension %>
  </div>
  <div class="field">
    <%= f.label :studio %><br>
    <%= f.text_field :studio %>
  </div>
  <div class="field">
    <%= f.label :work_email %><br>
    <%= f.text_field :work_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
