<h1>Listing employee_contacts</h1>

<table>
  <thead>
    <tr>
      <th>Extension</th>
      <th>Studio</th>
      <th>Work email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_contacts.each do |employee_contact| %>
      <tr>
        <td><%= employee_contact.extension %></td>
        <td><%= employee_contact.studio %></td>
        <td><%= employee_contact.work_email %></td>
        <td><%= link_to 'Show', employee_contact %></td>
        <td><%= link_to 'Edit', edit_employee_contact_path(employee_contact) %></td>
        <td><%= link_to 'Destroy', employee_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee contact', new_employee_contact_path %>
