<p id="notice"><%= notice %></p>

<p>
  <strong>Extension:</strong>
  <%= @employee_contact.extension %>
</p>

<p>
  <strong>Studio:</strong>
  <%= @employee_contact.studio %>
</p>

<p>
  <strong>Work email:</strong>
  <%= @employee_contact.work_email %>
</p>

<%= link_to 'Edit', edit_employee_contact_path(@employee_contact) %> |
<%= link_to 'Back', employee_contacts_path %>
