<%= form_for(@geo_json) do |f| %>
  <% if @geo_json.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@geo_json.errors.count, "error") %> prohibited this geo_json from being saved:</h2>

      <ul>
      <% @geo_json.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lon %><br>
    <%= f.text_field :lon %>
  </div>
  <div class="field">
    <%= f.label :boundary_points %><br>
    <%= f.text_field :boundary_points %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
