<h1>Listing geo_jsons</h1>

<table>
  <thead>
    <tr>
      <th>Lat</th>
      <th>Lon</th>
      <th>Boundary points</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @geo_jsons.each do |geo_json| %>
      <tr>
        <td><%= geo_json.lat %></td>
        <td><%= geo_json.lon %></td>
        <td><%= geo_json.boundary_points %></td>
        <td><%= link_to 'Show', geo_json %></td>
        <td><%= link_to 'Edit', edit_geo_json_path(geo_json) %></td>
        <td><%= link_to 'Destroy', geo_json, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geo json', new_geo_json_path %>
