<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @geo_json.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @geo_json.lon %>
</p>

<p>
  <strong>Boundary points:</strong>
  <%= @geo_json.boundary_points %>
</p>

<%= link_to 'Edit', edit_geo_json_path(@geo_json) %> |
<%= link_to 'Back', geo_jsons_path %>
