<p id="notice"><%= notice %></p>

<p>
  <strong>Measurement:</strong>
  <%= @net_lettable_area.measurement %>
</p>

<p>
  <strong>Standard name:</strong>
  <%= @net_lettable_area.standard_name %>
</p>

<p>
  <strong>Standard version:</strong>
  <%= @net_lettable_area.standard_version %>
</p>

<%= link_to 'Edit', edit_net_lettable_area_path(@net_lettable_area) %> |
<%= link_to 'Back', net_lettable_areas_path %>
