<h1>Listing office_cultures</h1>

<table>
  <thead>
    <tr>
      <th>First aider</th>
      <th>Fire warden</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @office_cultures.each do |office_culture| %>
      <tr>
        <td><%= office_culture.first_aider %></td>
        <td><%= office_culture.fire_warden %></td>
        <td><%= link_to 'Show', office_culture %></td>
        <td><%= link_to 'Edit', edit_office_culture_path(office_culture) %></td>
        <td><%= link_to 'Destroy', office_culture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Office culture', new_office_culture_path %>
