<p id="notice"><%= notice %></p>

<p>
  <strong>First aider:</strong>
  <%= @office_culture.first_aider %>
</p>

<p>
  <strong>Fire warden:</strong>
  <%= @office_culture.fire_warden %>
</p>

<%= link_to 'Edit', edit_office_culture_path(@office_culture) %> |
<%= link_to 'Back', office_cultures_path %>
