<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event_participation.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event_participation.date %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event_participation.url %>
</p>

<%= link_to 'Edit', edit_event_participation_path(@event_participation) %> |
<%= link_to 'Back', event_participations_path %>
