<p id="notice"><%= notice %></p>

<p>
  <strong>One line bio:</strong>
  <%= @biography.one_line_bio %>
</p>

<p>
  <strong>Approach:</strong>
  <%= @biography.approach %>
</p>

<p>
  <strong>Expertise:</strong>
  <%= @biography.expertise %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @biography.experience %>
</p>

<p>
  <strong>Achievements:</strong>
  <%= @biography.achievements %>
</p>

<p>
  <strong>Value statement:</strong>
  <%= @biography.value_statement %>
</p>

<%= link_to 'Edit', edit_biography_path(@biography) %> |
<%= link_to 'Back', biographies_path %>
