<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :covering_letter %><br>
    <%= f.text_field :covering_letter %>
  </div>
  <div class="field">
    <%= f.label :portfolio %><br>
    <%= f.text_field :portfolio %>
  </div>
  <div class="field">
    <%= f.label :assessment %><br>
    <%= f.text_area :assessment %>
  </div>
  <div class="field">
    <%= f.label :future_consideration %><br>
    <%= f.check_box :future_consideration %>
  </div>
  <div class="field">
    <%= f.label :skills_and_keywords %><br>
    <%= f.text_area :skills_and_keywords %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
