<%= form_for(@mobile) do |f| %>
  <% if @mobile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mobile.errors.count, "error") %> prohibited this mobile from being saved:</h2>

      <ul>
      <% @mobile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :is_bvn %><br>
    <%= f.check_box :is_bvn %>
  </div>
  <div class="field">
    <%= f.label :distribute %><br>
    <%= f.check_box :distribute %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
