<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @mobile.number %>
</p>

<p>
  <strong>Is bvn:</strong>
  <%= @mobile.is_bvn %>
</p>

<p>
  <strong>Distribute:</strong>
  <%= @mobile.distribute %>
</p>

<%= link_to 'Edit', edit_mobile_path(@mobile) %> |
<%= link_to 'Back', mobiles_path %>
