<h1>Listing security_clearances</h1>

<table>
  <thead>
    <tr>
      <th>Issuing body</th>
      <th>Level</th>
      <th>Expiry</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @security_clearances.each do |security_clearance| %>
      <tr>
        <td><%= security_clearance.issuing_body %></td>
        <td><%= security_clearance.level %></td>
        <td><%= security_clearance.expiry %></td>
        <td><%= link_to 'Show', security_clearance %></td>
        <td><%= link_to 'Edit', edit_security_clearance_path(security_clearance) %></td>
        <td><%= link_to 'Destroy', security_clearance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Security clearance', new_security_clearance_path %>
