<h1>Listing memberships</h1>

<table>
  <thead>
    <tr>
      <th>Organisation</th>
      <th>Membership number</th>
      <th>State</th>
      <th>Country</th>
      <th>Expiry</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.organisation %></td>
        <td><%= membership.membership_number %></td>
        <td><%= membership.state %></td>
        <td><%= membership.country %></td>
        <td><%= membership.expiry %></td>
        <td><%= link_to 'Show', membership %></td>
        <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
        <td><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_membership_path %>
