<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :name, PersonName.new do |builder| %>
    <div class="field">
      <%= builder.label :first %><br>
      <%= builder.text_field :first %>
    </div>
    <div class="field">
      <%= builder.label :last %><br>
      <%= builder.text_field :last %>
    </div>
    <div class="field">
      <%= builder.label :middle %><br>
      <%= builder.text_field :middle %>
    </div>
    <div class="field">
      <%= builder.label :preferred_first %><br>
      <%= builder.text_field :preferred_first %>
    </div>
    <div class="field">
      <%= builder.label :preferred_last %><br>
      <%= builder.text_field :preferred_last %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
