<p id="notice"><%= notice %></p>

<p>
  <strong>Main:</strong>
  <%= @client.main %>
</p>

<p>
  <strong>Direct:</strong>
  <%= @client.direct %>
</p>

<p>
  <strong>End user:</strong>
  <%= @client.end_user %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
