<h1>Listing passports</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Expiry</th>
      <th>Issuing body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @passports.each do |passport| %>
      <tr>
        <td><%= passport.number %></td>
        <td><%= passport.expiry %></td>
        <td><%= passport.issuing_body %></td>
        <td><%= link_to 'Show', passport %></td>
        <td><%= link_to 'Edit', edit_passport_path(passport) %></td>
        <td><%= link_to 'Destroy', passport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Passport', new_passport_path %>
