<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @passport.number %>
</p>

<p>
  <strong>Expiry:</strong>
  <%= @passport.expiry %>
</p>

<p>
  <strong>Issuing body:</strong>
  <%= @passport.issuing_body %>
</p>

<%= link_to 'Edit', edit_passport_path(@passport) %> |
<%= link_to 'Back', passports_path %>
