<%= form_for(@project_source) do |f| %>
  <% if @project_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_source.errors.count, "error") %> prohibited this project_source from being saved:</h2>

      <ul>
      <% @project_source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :competition_win %><br>
    <%= f.check_box :competition_win %>
  </div>
  <div class="field">
    <%= f.label :competition_URL %><br>
    <%= f.text_field :competition_URL %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
