<h1>Listing project_sources</h1>

<table>
  <thead>
    <tr>
      <th>Competition win</th>
      <th>Competition url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project_sources.each do |project_source| %>
      <tr>
        <td><%= project_source.competition_win %></td>
        <td><%= project_source.competition_URL %></td>
        <td><%= link_to 'Show', project_source %></td>
        <td><%= link_to 'Edit', edit_project_source_path(project_source) %></td>
        <td><%= link_to 'Destroy', project_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project source', new_project_source_path %>
