<p id="notice"><%= notice %></p>

<p>
  <strong>Personal email:</strong>
  <%= @person_contact.personal_email %>
</p>

<p>
  <strong>Personal phone:</strong>
  <%= @person_contact.personal_phone %>
</p>

<%= link_to 'Edit', edit_person_contact_path(@person_contact) %> |
<%= link_to 'Back', person_contacts_path %>
