<h1>Listing addresses</h1>

<table>
  <thead>
    <tr>
      <th>Dirty location</th>
      <th>Building name</th>
      <th>Street number</th>
      <th>Street</th>
      <th>Suburb area</th>
      <th>State county</th>
      <th>Country</th>
      <th>Postcode</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.dirty_location %></td>
        <td><%= address.building_name %></td>
        <td><%= address.street_number %></td>
        <td><%= address.street %></td>
        <td><%= address.suburb_area %></td>
        <td><%= address.state_county %></td>
        <td><%= address.country %></td>
        <td><%= address.postcode %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
