<%= form_for(@referred_by) do |f| %>
  <% if @referred_by.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@referred_by.errors.count, "error") %> prohibited this referred_by from being saved:</h2>

      <ul>
      <% @referred_by.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :BVN_staff_login %><br>
    <%= f.text_field :BVN_staff_login %>
  </div>
  <div class="field">
    <%= f.label :contact_name %><br>
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :contact_organisation %><br>
    <%= f.text_field :contact_organisation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
