<p id="notice"><%= notice %></p>

<p>
  <strong>Bvn staff login:</strong>
  <%= @referred_by.BVN_staff_login %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @referred_by.contact_name %>
</p>

<p>
  <strong>Contact organisation:</strong>
  <%= @referred_by.contact_organisation %>
</p>

<%= link_to 'Edit', edit_referred_by_path(@referred_by) %> |
<%= link_to 'Back', referred_bies_path %>
