<h1>Listing certifications</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ranking</th>
      <th>Awarding body</th>
      <th>Expiry date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @certifications.each do |certification| %>
      <tr>
        <td><%= certification.name %></td>
        <td><%= certification.ranking %></td>
        <td><%= certification.awarding_body %></td>
        <td><%= certification.expiry_date %></td>
        <td><%= link_to 'Show', certification %></td>
        <td><%= link_to 'Edit', edit_certification_path(certification) %></td>
        <td><%= link_to 'Destroy', certification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Certification', new_certification_path %>
