<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @certification.name %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @certification.ranking %>
</p>

<p>
  <strong>Awarding body:</strong>
  <%= @certification.awarding_body %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @certification.expiry_date %>
</p>

<%= link_to 'Edit', edit_certification_path(@certification) %> |
<%= link_to 'Back', certifications_path %>
