<p id="notice"><%= notice %></p>

<p>
  <strong>Measurement:</strong>
  <%= @gross_building_area.measurement %>
</p>

<p>
  <strong>Standard name:</strong>
  <%= @gross_building_area.standard_name %>
</p>

<p>
  <strong>Standard version:</strong>
  <%= @gross_building_area.standard_version %>
</p>

<%= link_to 'Edit', edit_gross_building_area_path(@gross_building_area) %> |
<%= link_to 'Back', gross_building_areas_path %>
