<%= form_for(@building_press_release) do |f| %>
  <% if @building_press_release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building_press_release.errors.count, "error") %> prohibited this building_press_release from being saved:</h2>

      <ul>
      <% @building_press_release.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :channel_list %><br>
    <%= f.text_field :channel_list %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :author_login %><br>
    <%= f.text_field :author_login %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
