<h1>Listing building_press_releases</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Channel list</th>
      <th>Content</th>
      <th>Author login</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @building_press_releases.each do |building_press_release| %>
      <tr>
        <td><%= building_press_release.date %></td>
        <td><%= building_press_release.channel_list %></td>
        <td><%= building_press_release.content %></td>
        <td><%= building_press_release.author_login %></td>
        <td><%= link_to 'Show', building_press_release %></td>
        <td><%= link_to 'Edit', edit_building_press_release_path(building_press_release) %></td>
        <td><%= link_to 'Destroy', building_press_release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Building press release', new_building_press_release_path %>
