<h1>Listing gross_floor_areas</h1>

<table>
  <thead>
    <tr>
      <th>Measurement</th>
      <th>Standard name</th>
      <th>Standard version</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gross_floor_areas.each do |gross_floor_area| %>
      <tr>
        <td><%= gross_floor_area.measurement %></td>
        <td><%= gross_floor_area.standard_name %></td>
        <td><%= gross_floor_area.standard_version %></td>
        <td><%= link_to 'Show', gross_floor_area %></td>
        <td><%= link_to 'Edit', edit_gross_floor_area_path(gross_floor_area) %></td>
        <td><%= link_to 'Destroy', gross_floor_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gross floor area', new_gross_floor_area_path %>
