<%= form_for(@legacy) do |f| %>
  <% if @legacy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@legacy.errors.count, "error") %> prohibited this legacy from being saved:</h2>

      <ul>
      <% @legacy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :one_line_grab %><br>
    <%= f.text_area :one_line_grab %>
  </div>
  <div class="field">
    <%= f.label :dirty_pictures %><br>
    <%= f.text_area :dirty_pictures %>
  </div>
  <div class="field">
    <%= f.label :dirty_testimonial %><br>
    <%= f.text_area :dirty_testimonial %>
  </div>
  <div class="field">
    <%= f.label :description_project_sheet %><br>
    <%= f.text_area :description_project_sheet %>
  </div>
  <div class="field">
    <%= f.label :description_200_500_words %><br>
    <%= f.text_area :description_200_500_words %>
  </div>
  <div class="field">
    <%= f.label :description_awards_style %><br>
    <%= f.text_area :description_awards_style %>
  </div>
  <div class="field">
    <%= f.label :dirty_awards %><br>
    <%= f.text_field :dirty_awards %>
  </div>
  <div class="field">
    <%= f.label :innovation_client_style %><br>
    <%= f.text_area :innovation_client_style %>
  </div>
  <div class="field">
    <%= f.label :innovation_value_add %><br>
    <%= f.text_area :innovation_value_add %>
  </div>
  <div class="field">
    <%= f.label :interesting_things %><br>
    <%= f.text_area :interesting_things %>
  </div>
  <div class="field">
    <%= f.label :brief_elements %><br>
    <%= f.text_area :brief_elements %>
  </div>
  <div class="field">
    <%= f.label :security_level %><br>
    <%= f.text_field :security_level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
