<h1>Listing legacies</h1>

<table>
  <thead>
    <tr>
      <th>One line grab</th>
      <th>Dirty pictures</th>
      <th>Dirty testimonial</th>
      <th>Description project sheet</th>
      <th>Description 200 500 words</th>
      <th>Description awards style</th>
      <th>Dirty awards</th>
      <th>Innovation client style</th>
      <th>Innovation value add</th>
      <th>Interesting things</th>
      <th>Brief elements</th>
      <th>Security level</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @legacies.each do |legacy| %>
      <tr>
        <td><%= legacy.one_line_grab %></td>
        <td><%= legacy.dirty_pictures %></td>
        <td><%= legacy.dirty_testimonial %></td>
        <td><%= legacy.description_project_sheet %></td>
        <td><%= legacy.description_200_500_words %></td>
        <td><%= legacy.description_awards_style %></td>
        <td><%= legacy.dirty_awards %></td>
        <td><%= legacy.innovation_client_style %></td>
        <td><%= legacy.innovation_value_add %></td>
        <td><%= legacy.interesting_things %></td>
        <td><%= legacy.brief_elements %></td>
        <td><%= legacy.security_level %></td>
        <td><%= link_to 'Show', legacy %></td>
        <td><%= link_to 'Edit', edit_legacy_path(legacy) %></td>
        <td><%= link_to 'Destroy', legacy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Legacy', new_legacy_path %>
