<p id="notice"><%= notice %></p>

<p>
  <strong>One line grab:</strong>
  <%= @legacy.one_line_grab %>
</p>

<p>
  <strong>Dirty pictures:</strong>
  <%= @legacy.dirty_pictures %>
</p>

<p>
  <strong>Dirty testimonial:</strong>
  <%= @legacy.dirty_testimonial %>
</p>

<p>
  <strong>Description project sheet:</strong>
  <%= @legacy.description_project_sheet %>
</p>

<p>
  <strong>Description 200 500 words:</strong>
  <%= @legacy.description_200_500_words %>
</p>

<p>
  <strong>Description awards style:</strong>
  <%= @legacy.description_awards_style %>
</p>

<p>
  <strong>Dirty awards:</strong>
  <%= @legacy.dirty_awards %>
</p>

<p>
  <strong>Innovation client style:</strong>
  <%= @legacy.innovation_client_style %>
</p>

<p>
  <strong>Innovation value add:</strong>
  <%= @legacy.innovation_value_add %>
</p>

<p>
  <strong>Interesting things:</strong>
  <%= @legacy.interesting_things %>
</p>

<p>
  <strong>Brief elements:</strong>
  <%= @legacy.brief_elements %>
</p>

<p>
  <strong>Security level:</strong>
  <%= @legacy.security_level %>
</p>

<%= link_to 'Edit', edit_legacy_path(@legacy) %> |
<%= link_to 'Back', legacies_path %>
