<p id="notice"><%= notice %></p>

<p>
  <strong>One line grab:</strong>
  <%= @legacy.one_line_grab %>
</p>

<p>
  <strong>Description project sheet:</strong>
  <%= @legacy.description_project_sheet %>
</p>

<p>
  <strong>Description awards style:</strong>
  <%= @legacy.description_awards_style %>
</p>

<p>
  <strong>Innovation client style:</strong>
  <%= @legacy.innovation_client_style %>
</p>

<p>
  <strong>Interesting things:</strong>
  <%= @legacy.interesting_things %>
</p>

<p>
  <strong>Brief elements:</strong>
  <%= @legacy.brief_elements %>
</p>

<p>
  <strong>Security level:</strong>
  <%= @legacy.security_level %>
</p>

<%= link_to 'Edit', edit_legacy_path(@legacy) %> |
<%= link_to 'Back', legacies_path %>
