<p id="notice"><%= notice %></p>

<p>
  <strong>Twitter:</strong>
  <%= @social.twitter %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @social.instagram %>
</p>

<p>
  <strong>Github:</strong>
  <%= @social.github %>
</p>

<p>
  <strong>Pinterest:</strong>
  <%= @social.pinterest %>
</p>

<p>
  <strong>Google plus:</strong>
  <%= @social.google_plus %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @social.linkedin %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @social.facebook %>
</p>

<p>
  <strong>Tumblr:</strong>
  <%= @social.tumblr %>
</p>

<%= link_to 'Edit', edit_social_path(@social) %> |
<%= link_to 'Back', socials_path %>
