<%= form_for(@non_building) do |f| %>
  <% if @non_building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@non_building.errors.count, "error") %> prohibited this non_building from being saved:</h2>

      <ul>
      <% @non_building.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
