<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @non_building.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @non_building.description %>
</p>

<%= link_to 'Edit', edit_non_building_path(@non_building) %> |
<%= link_to 'Back', non_buildings_path %>
