<%= form_for(@quality_assurance) do |f| %>
  <% if @quality_assurance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quality_assurance.errors.count, "error") %> prohibited this quality_assurance from being saved:</h2>

      <ul>
      <% @quality_assurance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
