<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @key_date.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @key_date.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @key_date.description %>
</p>

<%= link_to 'Edit', edit_key_date_path(@key_date) %> |
<%= link_to 'Back', key_dates_path %>
