<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @key_date.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @key_date.end_date %>
</p>

<%= link_to 'Edit', edit_key_date_path(@key_date) %> |
<%= link_to 'Back', key_dates_path %>
