<h1>Listing person_names</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Middle name</th>
      <th>Preferred first name</th>
      <th>Preferred last name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @person_names.each do |person_name| %>
      <tr>
        <td><%= person_name.first_name %></td>
        <td><%= person_name.last_name %></td>
        <td><%= person_name.middle_name %></td>
        <td><%= person_name.preferred_first_name %></td>
        <td><%= person_name.preferred_last_name %></td>
        <td><%= link_to 'Show', person_name %></td>
        <td><%= link_to 'Edit', edit_person_name_path(person_name) %></td>
        <td><%= link_to 'Destroy', person_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person name', new_person_name_path %>
