<h1>Listing attentions</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Url</th>
      <th>Scan or screengrab</th>
      <th>Body text</th>
      <th>Publication</th>
      <th>Reason</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attentions.each do |attention| %>
      <tr>
        <td><%= attention.date %></td>
        <td><%= attention.url %></td>
        <td><%= attention.scan_or_screengrab %></td>
        <td><%= attention.body_text %></td>
        <td><%= attention.publication %></td>
        <td><%= attention.reason %></td>
        <td><%= link_to 'Show', attention %></td>
        <td><%= link_to 'Edit', edit_attention_path(attention) %></td>
        <td><%= link_to 'Destroy', attention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attention', new_attention_path %>
