<%= form_for(@employee_mobile) do |f| %>
  <% if @employee_mobile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_mobile.errors.count, "error") %> prohibited this employee_mobile from being saved:</h2>

      <ul>
      <% @employee_mobile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :is_work %><br>
    <%= f.check_box :is_work %>
  </div>
  <div class="field">
    <%= f.label :distribute %><br>
    <%= f.check_box :distribute %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
