<h1>Listing employee_mobiles</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Is work</th>
      <th>Distribute</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_mobiles.each do |employee_mobile| %>
      <tr>
        <td><%= employee_mobile.number %></td>
        <td><%= employee_mobile.is_work %></td>
        <td><%= employee_mobile.distribute %></td>
        <td><%= link_to 'Show', employee_mobile %></td>
        <td><%= link_to 'Edit', edit_employee_mobile_path(employee_mobile) %></td>
        <td><%= link_to 'Destroy', employee_mobile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee mobile', new_employee_mobile_path %>
