<h1>Listing phases</h1>

<table>
  <thead>
    <tr>
      <th>Dirty members</th>
      <th>Project name</th>
      <th>Studio</th>
      <th>Client</th>
      <th>Services scope</th>
      <th>Delivery contract</th>
      <th>Staff contact login</th>
      <th>Staff custodian login</th>
      <th>Dirty date</th>
      <th>Referee</th>
      <th>Dirty finish</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @phases.each do |phase| %>
      <tr>
        <td><%= phase.dirty_members %></td>
        <td><%= phase.project_name %></td>
        <td><%= phase.studio %></td>
        <td><%= phase.client %></td>
        <td><%= phase.services_scope %></td>
        <td><%= phase.delivery_contract %></td>
        <td><%= phase.staff_contact_login %></td>
        <td><%= phase.staff_custodian_login %></td>
        <td><%= phase.dirty_date %></td>
        <td><%= phase.referee %></td>
        <td><%= phase.dirty_finish %></td>
        <td><%= link_to 'Show', phase %></td>
        <td><%= link_to 'Edit', edit_phase_path(phase) %></td>
        <td><%= link_to 'Destroy', phase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phase', new_phase_path %>
