<p id="notice"><%= notice %></p>

<p>
  <strong>Project name:</strong>
  <%= @phase.project_name %>
</p>

<p>
  <strong>Studio:</strong>
  <%= @phase.studio %>
</p>

<p>
  <strong>Client:</strong>
  <%= @phase.client %>
</p>

<p>
  <strong>Services scope:</strong>
  <%= @phase.services_scope %>
</p>

<p>
  <strong>Delivery contract:</strong>
  <%= @phase.delivery_contract %>
</p>

<p>
  <strong>Staff contact login:</strong>
  <%= @phase.staff_contact_login %>
</p>

<p>
  <strong>Staff custodian login:</strong>
  <%= @phase.staff_custodian_login %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @phase.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @phase.end_date %>
</p>

<p>
  <strong>Initial phase value total:</strong>
  <%= @phase.initial_phase_value_total %>
</p>

<p>
  <strong>Final phase value total:</strong>
  <%= @phase.final_phase_value_total %>
</p>

<p>
  <strong>Initial phase fee total:</strong>
  <%= @phase.initial_phase_fee_total %>
</p>

<p>
  <strong>Final phase fee total:</strong>
  <%= @phase.final_phase_fee_total %>
</p>

<p>
  <strong>Construction initial:</strong>
  <%= @phase.construction_initial %>
</p>

<p>
  <strong>Construction final:</strong>
  <%= @phase.construction_final %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @phase.comments %>
</p>

<p>
  <strong>Fee type:</strong>
  <%= @phase.fee_type %>
</p>

<%= link_to 'Edit', edit_phase_path(@phase) %> |
<%= link_to 'Back', phases_path %>
