<p id="notice"><%= notice %></p>

<p>
  <strong>Dirty members:</strong>
  <%= @phase.dirty_members %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @phase.project_name %>
</p>

<p>
  <strong>Studio:</strong>
  <%= @phase.studio %>
</p>

<p>
  <strong>Client:</strong>
  <%= @phase.client %>
</p>

<p>
  <strong>Services scope:</strong>
  <%= @phase.services_scope %>
</p>

<p>
  <strong>Delivery contract:</strong>
  <%= @phase.delivery_contract %>
</p>

<p>
  <strong>Staff contact login:</strong>
  <%= @phase.staff_contact_login %>
</p>

<p>
  <strong>Staff custodian login:</strong>
  <%= @phase.staff_custodian_login %>
</p>

<p>
  <strong>Dirty date:</strong>
  <%= @phase.dirty_date %>
</p>

<p>
  <strong>Referee:</strong>
  <%= @phase.referee %>
</p>

<p>
  <strong>Dirty finish:</strong>
  <%= @phase.dirty_finish %>
</p>

<%= link_to 'Edit', edit_phase_path(@phase) %> |
<%= link_to 'Back', phases_path %>
