<%= form_for(@frequent_flier_program) do |f| %>
  <% if @frequent_flier_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frequent_flier_program.errors.count, "error") %> prohibited this frequent_flier_program from being saved:</h2>

      <ul>
      <% @frequent_flier_program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
