<h1>Listing frequent_flier_programs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @frequent_flier_programs.each do |frequent_flier_program| %>
      <tr>
        <td><%= frequent_flier_program.name %></td>
        <td><%= frequent_flier_program.number %></td>
        <td><%= link_to 'Show', frequent_flier_program %></td>
        <td><%= link_to 'Edit', edit_frequent_flier_program_path(frequent_flier_program) %></td>
        <td><%= link_to 'Destroy', frequent_flier_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frequent flier program', new_frequent_flier_program_path %>
