<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @frequent_flier_program.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @frequent_flier_program.number %>
</p>

<%= link_to 'Edit', edit_frequent_flier_program_path(@frequent_flier_program) %> |
<%= link_to 'Back', frequent_flier_programs_path %>
